h2 {
    text-align: center;
    padding-top:  40px;
}
    body {background-color:silver;}

#MainDiv {
    background-color: white;
    width: 95%;
    height: 3000px;
    margin: auto;
    text-align:center;
}
#MuzikosIstorija {
    
    text-align: center;
    
}
