h2 {
    text-align: center;
    padding-top:  80px;
}
    body {background-color:silver;}

#MainDiv {
    background-color: white;
    width: 95%;
    height: 300px;
    margin: auto;
    margin-top: 5%;
    text-align:center;
}
#MuzikosIstorija {
    
    text-align: center;
    
}
